body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main
{
    height: 720px;
    width: 450px;
    background-color:rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.txn
{
    
    height:58px;
    width:370px;
    margin-left:35px;
    font-size: medium;
    border-radius:12px;
    
}
.txn:hover
{
border: 1px solid rgb(2, 92, 2);
cursor: pointer;
}
.forgot
{
    color:rgb(3, 145, 3);
    margin-left: 145px;
    
    
    

}
.forgot:hover
{
    text-decoration: underline;
    
}
.btn1
{
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 12px;
    height: 45px;
    width: 380px;
    background-color:rgb(248, 164, 8);
    color:black;
    font-size: medium;
    font-weight: bold;
    border: none;
}
.btn1:hover
{
color: rgb(3, 145, 3);
}

.input-box
{
  position: relative;
    
}
#togglePassword{
    position: absolute;
    top: 50%;
    right:10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.input-box img
{
    width: 25px;
    cursor: pointer;
}