a{
    text-decoration: none;
}

#header {
    border-bottom: 1px solid black;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to evenly distribute items horizontally */
}

#header_logo{
    display: flex;
    align-items: center;
}

#header_btn_container ul {
    margin-right: 20px;
    list-style: none; /* Remove the default bullet points for the list items */
    display: flex; /* Use flexbox to arrange the list items */
}

#header_btn_container li {
    margin-left: 10px;
}

#header_btn_container button {
    background-color: green;
    border: none;
    border-radius: 10px;
    width: 85px;
    height: 30px;
    color: white;
    font-weight: bold;
    box-shadow: rgb(73, 197, 88) 0px 3px 8px;

}

#header_btn_container button a{
    text-decoration: none;
    color: white;
}

#header_btn_container button:hover{
    background-color: rgb(60, 187, 81);
    cursor: pointer;
}

nav{
    height: 7vh;
    background-color: green;
    display: flex;
    justify-content: center;
}

nav ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
nav ul li{

    color: white;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav ul li:hover{
    color: black;
    cursor: pointer;
}

.main{
    height: 500px;
    width: 95%;
   
    display : flex ;
    justify-content: space-evenly;
    align-items: center;
    
    margin: 0 auto;
}

.left{
    height: 500px;
    width: 30%;
    background-color: rgb(172, 186, 177);
    float: left;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.right{
    height: 500px;
    width: 30%;
    background-color: rgb(178, 205, 60);
    float: right;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    flex-direction: column;
}
.center{
    height: 500px;
    width: 30%;
    background-color: rgb(172, 186, 177);
    float: left;
    float: center;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h3{
    text-align: center;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    
}
hr {
    border: none;
    border-top: 1px solid rgb(16, 15, 15);
    margin: 10px 0;
    
}
.right button {
    margin: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.right button:hover {
    background-color: rgb(86, 183, 51);
}
#loanList, #campaignList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%; 
    height: 400px;
    margin: auto;
    overflow: hidden;
}
#loanList:hover, #campaignList:hover {
    
    overflow-y:auto;
}

#loanList li, #campaignList li {
    background-color: #edecf4;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    height: 80px;
}








